<section id="contact">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Contact Us</h2>
              <h3 class="section-subheading contact-text">You can reach us at:</h3>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 text-center contact-text">
              <p><strong>Name:</strong> Werner Meyer</p>
              <p><strong>Address:</strong> Rainstrasse 7 <br> 8907 Wettswil</p>
              <p><strong>Email:</strong> <a href="mailto:wm@wmeyerconsulting.ch">wm@wmeyerconsulting.ch</a></p>
              <p><strong>Phone:</strong> <a href="tel:+41797779494">+ 41 79 777 94 94</a></p>
          </div>
      </div>
  </div>
</section>
