<!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Werner Meyer</h2>
                    <h3 class="section-subheading text-muted">Read more about me here.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-member">
                        <img src="img/team/werner_meyer.jpg" class="team-member-img img-circle" alt="" height="20%">
                        <h4>Werner Meyer</h4>
                        <p class="text-muted">{{ member.position }}</p>
                    </div>                
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted wmclass">For over 40 years I have been involved in legal, economic, regulatory, organizational as well as personnel issues and have had management responsibilities since 1991. I was lucky to meet many interesting personalities and develop and implement solutions for many international families. Succession Planning, Asset Protection and Tax Planning have been in the focus of my activities as well as aspects of corporate and family governance were of great importance. In the last 8 years, I could gain significant experience in the prevention of money laundering and the supervision of financial intermediaries. My expertise in management, personnel development, as well as organizational development were extremely useful in the last stage of my career. This collection of material expertise can be of great value for individuals, families, corporates and entities of the public sector to find solutions for actual challenges.
                    </p>
                    <h3 class="text-muted contactwmclass">To find out more, get in contact with me via e-mail at <span class="underline-contact"><a href="mailto:wm@wmeyerconsulting.ch">wm@wmeyerconsulting.ch</a>
                        </span> or via telephone at <span class="underline-contact"><a href="tel:+41797779494">+ 41 79 777 94 94</a></span>.
                    </h3>
                </div>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </section>